<div class="main-container frame-container">
  <h1 class="title-text">Question Management</h1>
  <div class="mb-5">
    <button class="btn btn-dark w-100 mb-2" [routerLink]="['/question-list']">Go to list</button>
    <button class="btn btn-outline-dark w-100  " [routerLink]="['/create-question']">Create new Question</button>
  </div>
  <div class="row">
    <div class="col-12 mb-3" *ngFor="let question of questions | sortByDate">

      <div class="card">
        <div class="card-body">
          <h5 class="fw-bold card-title">{{ question.text }}</h5>
          <p class="fw-bold card-text mb-1">Type: {{ question.type }}</p>
          <p class="fw-bold card-text">Created on: {{ question.creationDate | date }}</p>
          <div class="d-flex justify-content-around align-items-center gap-5">
            <button class="btn btn-outline-dark mr-2 w-100" (click)="deleteQuestion(question.id)">Delete</button>
            <button class="btn btn-dark w-100" [routerLink]="['/question-edit', question.id]">Edit</button>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
