<div class="container">
  <h1 class="text-center title-text">Edit Question</h1>
  <form (ngSubmit)="onUpdate()">
    <div class="mb-3">
      <label for="questionText" class="form-label">Question Text</label>
      <input type="text" class="form-control" id="questionText" name="questionText" required [(ngModel)]="question.text">
      <div class="invalid-feedback" *ngIf="!question.text && errorMessage">Question text is required</div>
    </div>
    <div class="mb-3">
      <label for="questionType" class="form-label">Question Type</label>
      <select class="form-select" id="questionType" name="questionType" required [(ngModel)]="selectedQuestionType">
        <option value="{{ questionType.Multiple }}">Multiple Choice</option>
        <option value="{{ questionType.Single }}">Single Choice</option>
        <option value="{{ questionType.Text }}">Text</option>
      </select>
    </div>
    <div class="mb-3" id="optionsContainer" *ngIf="selectedQuestionType === questionType.Multiple || selectedQuestionType === questionType.Single">
      <label for="options" class="form-label">Options</label>
      <input type="text" class="form-control" id="options" name="options" [(ngModel)]="options">
      <div class="form-text">Enter options separated by commas</div>
      <div class="invalid-feedback" *ngIf="(selectedQuestionType === questionType.Multiple || selectedQuestionType === questionType.Single) && options && options.split(',').length < 2">At least two options are required for multiple or single choice questions</div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
