<div class="main-container frame-container">
  <h1 class="title-text">Edit Question</h1>
  <form (ngSubmit)="onUpdate()">

    <div class="mb-3">
      <label for="questionText" class="form-label fw-semibold">Question Text</label>
      <input type="text" class="form-control" id="questionText" name="questionText"
             placeholder="How to work in Pageloot?" autocomplete="off"
             required [(ngModel)]="question.text">
    </div>

    <div class="mb-3">
      <label for="questionType" class="form-label fw-semibold">Question Type</label>
      <select class="form-select" id="questionType" name="questionType" required [(ngModel)]="selectedQuestionType">
        <option value="{{ questionType.Multiple }}">Multiple Choice</option>
        <option value="{{ questionType.Single }}">Single Choice</option>
        <option value="{{ questionType.Text }}">Text</option>
      </select>
    </div>

    <div  *ngIf="selectedQuestionType === questionType.Multiple || selectedQuestionType === questionType.Single">
      <label for="options" class="form-label fw-semibold">Options</label>
      <input type="text" id="options" class="form-control" name="options"
             autocomplete="off" [(ngModel)]="options"
             placeholder="Bill Gates, Will Doors, Other">
      <div class="form-text">Enter options separated by commas</div>
      <div class="invalid-feedback" *ngIf="(selectedQuestionType === questionType.Multiple || selectedQuestionType === questionType.Single) && options && options.split(',').length < 2">At least two options are required for multiple or single choice questions</div>
    </div>

    <button type="submit" class="btn btn-outline-dark button-question mt-lg-5">Update</button>
  </form>
</div>
